@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

.border {
    border: 2px solid black;
}

.main {
    height: 89.2vh;
}

.header {
    position: relative;
    height: 89.2vh;
    background-image: url('./photo/back.jpeg');
    background-size: cover;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1.2);
    opacity: 0.7;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 150px;
    height: 79px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -140px;
    height: 200px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 5px black;
}

.navbar {
    overflow: hidden;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
    height: 65px;
}

.footer {
    background-color: #413b48;
}

.container2 {
    display: flex;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nri {
    z-index: 1;
    margin-top: 80px;
    width: 60%;
    height: 70%;
    display: flex;
    font-size: 17px;
    color: rgb(255, 255, 255);
    align-items: center;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.user {
    z-index: 1;
    margin-top: 80px;
    width: 60%;
    height: 70%;
    display: flex;
    font-size: 17px;
    color: whitesmoke;
    align-items: center;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

#for_nris {
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px 5px red;
    font-family: "Josefin Sans", sans-serif;
}

#for_usr {
    font-size: 50px;
    font-weight: bold;
    color: rgb(246, 245, 246);
    font-family: "Josefin Sans", sans-serif;
}

.infologo {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}

.heading {
    font-size: 20px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hamburger {
    display: none;
    height: 30px;
    width: 30px;
    filter: invert();
    float: right;
}

.close {
    display: none;
    height: 20px;
    width: 20px;
    filter: invert();
    z-index: 5000;
}

@media only screen and (max-width: 600px) {
    body {
        overflow: hidden;
    }
    .navbar {
        flex-direction: column;
    }
    .container2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer {
        display: none;
    }
    .header {
        height: 100vh !important;
        overflow-y: scroll;
    }
    .header::before {
        height: 135vh;
    }
    p {
        text-align: center;
    }
    nav {
        display: none;
        position: absolute;
        background-color: #545050f7;
        height: 100% !important;
        width: 50%;
        right: -300px;
        top: 0px;
        z-index: 2000;
    }
    .hamburger {
        display: block;
    }
    .close {
        display: block;
    }
    nav ul {
        display: flex;
        flex-direction: column;
    }
    nav ul li {
        margin-bottom: 30px !important;
    }
}
